anndata==0.8.0
annoy @ file:///Users/runner/miniforge3/conda-bld/python-annoy_1667211957090/work
appdirs==1.4.4
appnope==0.1.3
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
brotlipy==0.7.0
certifi==2023.7.22
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1671179477998/work
charset-normalizer==3.0.1
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1674202310934/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1664843244467/work
comm==0.1.3
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1673633733337/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1672672434064/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz @ file:///Users/runner/miniforge3/conda-bld/cytoolz_1666829961218/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1673644363191/work
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1668768791841/work
datashape==0.5.2
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.13
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.3
fbpca==1.0
fcsparser==0.2.4
fcsy==0.10.0
filelock==3.9.0
FlowCytometryTools==0.5.1
-e git+https://github.com/luglilab/Cytophenograph.git@101f95c1a0e0311638009929f12b5d3c4bb5fbad#egg=FlowSom&subdirectory=FlowSOM_LugliLab
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1666827143732/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1674184942191/work
future==0.18.3
gdown==4.6.0
geosketch @ file:///opt/conda/conda-bld/geosketch_1612105467500/work
graphtools==1.5.3
h5py==3.8.0
hnswlib @ file:///Users/runner/miniforge3/conda-bld/hnswlib_1667334616080/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
igraph==0.10.3
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1673848006691/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1674460904928/work
importlib-metadata==6.6.0
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.22.0
ipylab==0.7.1
ipython==8.13.2
ipywidgets==8.0.6
jedi==0.18.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1663332044897/work
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyterlab-widgets==3.0.7
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1666805987080/work
lamin_logger==0.3.0
leidenalg==0.9.1
llvmlite==0.39.1
locket @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_81b4c56b-0395-495d-81c1-83208d36944d357hqdd0/croots/recipe/locket_1652903116052/work
loguru==0.7.0
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1674079115072/work
matplotlib-inline==0.1.6
MiniSom==2.3.0
multipledispatch @ file:///opt/concourse/worker/volumes/live/ae29ad0f-3a64-4ff5-7393-0aa95f2c9f85/volume/multipledispatch_1607574242710/work
natsort==8.2.0
nbclient==0.7.4
nbformat==5.8.0
nbproject==0.8.6
nbproject_test==0.4.4
nest-asyncio==1.5.6
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1673151334029/work
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1669104034652/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1668919173192/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
orjson==3.8.11
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==1.3.5
param @ file:///home/conda/feedstock_root/build_artifacts/param_1670919563192/work
parso==0.8.3
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1660316728562/work
patsy==0.5.3
pexpect==4.8.0
phate==1.0.10
PhenoGraph==1.5.7
pickleshare==0.7.5
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1675487316096/work
platformdirs==3.5.0
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
progressbar2==4.2.0
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.10.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct==0.4.8
pydantic==1.10.7
pygam==0.8.0
Pygments==2.15.1
PyGSP==0.5.1
pynndescent==0.5.8
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1672659226110/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pyrsistent==0.19.3
PySocks @ file:///opt/concourse/worker/volumes/live/112288ac-9cb0-4e73-768b-13baf4ca6419/volume/pysocks_1605305820043/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-utils==3.4.5
pytometry==0.1.3
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1673864280276/work
pyVIA==0.1.73
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1673082402638/work
PyYAML==6.0
pyzmq==25.0.2
readfcs==1.1.1
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1680286922386/work
s-gd2==1.8.1
scanorama @ file:///opt/conda/conda-bld/scanorama_1674157968393/work
scanpy==1.9.1
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1667117208828/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1670523693646/work
scipy==1.10.0
scprep==1.2.1
seaborn==0.12.2
session-info==1.0.0
six @ file:///tmp/build/80754af9/six_1644875935023/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.3.2.post1
stack-data==0.6.2
statsmodels==0.13.5
stdlib-list==0.8.0
tasklogger==1.2.0
termcolor==2.2.0
texttable==1.6.7
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tifffile==2023.1.23.1
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1657485559105/work
tornado==6.3.1
tqdm==4.64.1
traitlets==5.9.0
typing_extensions==4.5.0
umap-learn==0.5.3
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1667240005777/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1673452138552/work
wcwidth==0.2.6
wget==3.2
widgetsnbextension==4.0.7
wrapt==1.14.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1674166302925/work
zipp==3.15.0
